<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
"-//Apache Software Foundation//DTD Struts Configuration 2.3//EN"
"http://struts.apache.org/dtds/struts-2.3.dtd">


<!--
    Document    : app.xml
    Created on  : Semptember 24, 2007, 2:00 PM
    Author      : Corporate Application Support Team 
    Description : 
-->

<struts>
    
    <!--
       Package Name : 
       Author       : MrutyumjayaRao Chennu
       Description  :
    -->
    <package name="app" namespace="/app" extends="default">
        <default-interceptor-ref name="crudStack" />
        <!--START: Following actions written by : <developer name>:<mailid>-->
        
        <action name="appLoad">
            <result>AppLoad.jsp</result>
        </action>
        
        <!--END: Above actions written by : <developer name>:<mailid>-->
    </package>
    
</struts>
